@model IEnumerable<ModelFirst.CustomerPurchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerProfile.CustName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerProfile.CustName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustId })
        </td>
    </tr>
}

</table>
